ion-content {
    --background: var(--ion-color-primary);
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    ion-button{
        --background: white;
        color: black;
        font-weight: bold;
    }
}
.gambar{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin-top: 200px;
}
.container-content-alert{
    flex-direction: column;
    text-align: center;
    align-items: center;
    display: flex;
    color: aliceblue;
    gap: 10px;
    margin-left: 25%;
    background-color: rgba(0, 255, 136, 0.473);
    border-radius: 10px;
    width: 55%;
    padding-left: 30px;
    
}
